body {
  overflow: hidden;
  margin: 0;
  
}
#mapid {
  width: 100vw;
  height: 100vh;
  position: relative;
}

#btnsendlocation {
  background: blue !important;
  text-align: center;
  width: 100vw;
  color: white;
  padding: 1rem;
  position: absolute;
  bottom: 0px;
  z-index: 10000000;
}
