body {
  overflow: hidden;
  margin: 0 auto;
  width: 100vw;
  font-family: "Lato", sans-serif;
}
#mapid {
  width: 100vw;
  height: 100vh;
}

.btnsendlocation {
  background: #0288d1 !important;
  text-align: center;

  flex-grow: 1;
  color: white;
  padding: 1rem;
  margin: 0;
  font-family: "Lato", sans-serif;
}

.buttonwrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 0px;
  z-index: 10000000;
  margin: 0;
}
