body {
  overflow: hidden;
  margin: 0 auto;
  width: 100vw;
  font-family: "Lato", sans-serif;
}
#mapid {
  width: 100vw;
  height: 100vh;
  position: relative;
}

#btnsendlocation {
  background: #0288d1 !important;
  text-align: center;
  width: 100vw;
  color: white;
  padding: 1rem;
  position: absolute;
  bottom: 0px;
  z-index: 10000000;
  font-family: "Lato", sans-serif;
}
